name: Checks for push

on:
  push:
  pull_request:

jobs:
  path-filter:
    timeout-minutes: 5
    outputs:
      actions: ${{steps.changes.outputs.actions}}
      ts: ${{steps.changes.outputs.ts}}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            actions:
              - .github/workflows/*.yml
              - .github/workflows/*.yaml
              - aqua.yaml
            ts:
              - .github/workflows/check.yaml
              - pnpm-lock.yml
              - turbo.json
              - biome.json
              - package.json
              - pnpm-lock.yaml
              - tsconfig.json
              - src/**/*.ts
  check-actions:
    needs: path-filter
    if: needs.path-filter.outputs.actions == 'true'
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.0
      - name: Lint github actions
        run: |
          actionlint -color
          ghalint run
  check-typescript:
    needs: path-filter
    if: needs.path-filter.outputs.ts == 'true'
    permissions:
      contents: read
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: ["24.12.0", "lts/*", "current"]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm
      - run: pnpm install
      - name: Run biome check
        run: pnpm run check
      - name: Run pnpm test
        run: pnpm run test
  status-check:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    needs:
      - check-actions
      - check-typescript
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
